	<div id="ft">
		<div class="wrapper">

			<div class="box">
				<h2>Contact</h2>
				<p><a href="mailto:support@clickontyler.com">support@clickontyler.com</a></p>
				<p>+1 800-939-9054</p>
				<p>PO Box 680756<br>Franklin, TN 37068</p>
			</div>
			<div class="box">
				<h2>Support</h2>
				<p><a href="http://support.clickontyler.com">Browse our FAQ's</a></p>
				<p><a href="mailto:support@clickontyler.com">support@clickontyler.com</a></p>
			</div>
			<div class="box">
				<h2>Follow Us</h2>
				<table style="width:100%;">
					<tr>
						<td style="text-align:left;"><img src="{{ site.cdn_url }}/images/bird.png"> <a href="http://twitter.com/tylerhall/">@tylerhall</a></td>
						<td style="text-align:left;"><img src="{{ site.cdn_url }}/images/bird.png"> <a href="http://twitter.com/clickontyler/">@clickontyler</a></td>
					</tr>
					<tr>
						<td style="text-align:left;"><img src="{{ site.cdn_url }}/images/bird.png"> <a href="http://twitter.com/virtualhostx/">@virtualhostx</a></td>
						<td style="text-align:left;"><img src="{{ site.cdn_url }}/images/bird.png"> <a href="http://twitter.com/incoming/">@incoming</a></td>
					</tr>
					<tr>
						<td style="text-align:left;"><img src="{{ site.cdn_url }}/images/bird.png"> <a href="http://twitter.com/nottinghamapp/">@nottinghamapp</a></td>
						<td style="text-align:left;"><img src="{{ site.cdn_url }}/images/bird.png"> <a href="http://twitter.com/commandqapp/">@commandqapp</a></td>
					</tr>
					<tr>
						<td style="text-align:left;"><img src="{{ site.cdn_url }}/images/bird.png"> <a href="http://twitter.com/hostbuddyapp/">@hostbuddyapp</a></td>
						<td>&nbsp;</td>
					</tr>
				</table>
			</div>

		</div>
	</div>
	<script type="text/javascript" src="{{ site.cdn_url }}/js/click.js"></script>
	<script type="text/javascript" src="https://mint.clickontyler.com/?js" ></script>
	{% include olark.html %}
</body>
</html>
