	<div id="ft">
		<div class="wrapper">

			<div class="box">
				<h2>Contact</h2>
				<p>PO Box 92546<br>Nashville, TN 37209</p>
				<p>+1 800-939-9054</p>
				<p><a href="mailto:support@clickontyler.com">support@clickontyler.com</a></p>
			</div>
			<div class="box">
				<h2>Follow Us</h2>
				<p><img src="{{ site.cdn_url }}/images/bird.png"> <a href="http://twitter.com/tylerhall/">@tylerhall</a></p>
				<p><img src="{{ site.cdn_url }}/images/bird.png"> <a href="http://twitter.com/clickontyler/">@clickontyler</a></p>
			</div>

		</div>
	</div>
</body>
</html>