<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
 "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<title>{{ page.title }}</title>
	{% if page.description %}
	<meta name="description" content="{{ page.description }}">
	{% else %}
	<meta name="description" content="{{ site.description }}">
	{% endif %}
	<link rel="alternate" href="http://feeds.feedburner.com/clickontyler" type="application/rss+xml" title="Recent blog posts">
	<!-- <link rel="stylesheet" href="http://cdn.tyler.fm/css/style.gz.css" type="text/css"> -->
	<link rel="stylesheet" href="/css/screen.css" type="text/css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Josefin+Sans+Std+Light" type="text/css">
	<link rel="apple-touch-icon" href="http://cdn.tyler.fm/webclip.png" type="image/png">
</head>
<body>
	<div id="custom-doc" class="yui-t7">
		<div id="bg"></div>
		<div id="hd">
			<h1><span>Tyler Hall</span></h1>
			<ul>
				<li class="home"><a href="/"><span>Home</span></a></li
				><li class="apps"><a href="/store/"><span>Store</span></a></li
				><li class="blog"><a href="/blog/"><span>Blog</span></a></li
				><li class="projects"><a href="/projects/"><span>Projects</span></a></li
				><li class="contact"><a href="/contact/"><span>Contact</span></a></li>
			</ul>
			<div id="transbar"></div>
		</div>
