<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>{{ page.title }}</title>
	<link rel="stylesheet" type="text/css" href="{{ site.cdn_url }}/css/screen.css">
	<link rel="alternate" href="http://feeds.feedburner.com/clickontyler" type="application/rss+xml" title="Recent blog posts">
	<link rel="icon"type="image/png"href="{{ site.cdn_url }}/favicon.ico">
	<link rel="apple-touch-icon" href="{{ site.cdn_url }}/webclip.png" type="image/png">
</head>
<body>
	<div id="hd" class="wrapper">
		<div id="logo">
			<h1><a href="http://clickontyler.com">ClickOnTyler</a></h1>
			<div class="underline"></div>
			<p>Web + Cocoa</p>
		</div>
		
		<ul>
			<li><a href="/">Home</a></li>
			<!-- <li><a href="/apps/">Apps</a></li> -->
			<li><a href="/blog/">Blog</a></li>
			<li><a href="/projects/">Projects</a></li>
			<li><a href="http://support.clickontyler.com">Support</a></li>
			<li><a href="/contact/">Contact</a></li>
		</ul>
		
		<div class="clear"></div>
	</div>
